// Card desgin from Ant design, reference: https://ant.design/components/card#

.category-card
{
    border: 1px solid #f0f0f0;
    font-size: 14px;
    padding: 16px;
    width: 20vw;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .category-card
    {
        width: 28vw;
    }
}

// Tablet
@media screen and (max-width: 900px) {
    .category-card
    {
        width: 44vw;
    }
}

// Mobile
@media screen and (max-width: 600px){
    .category-card
    {
        width: 92vw;
    }
}
