// Card desgin from Ant design, reference: https://ant.design/components/card#

.category-card
{
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 16px;
    width: 44vw;
}

.story-table-row-header
{
    display: flex;
    flex-direction: row;
    border: 1px solid #f0f0f0;
}

.story-table-row-header-item
{
    flex-grow: 1;
    border-right: 1px solid #f0f0f0;
    padding: 4px;

    &:last-child
    {
        border: none;
    }
}

// Tablet
@media screen and (max-width: 1200) {
    .category-card
    {
        width: 44vw;
    }
}

// Mobile
@media screen and (max-width: 800px){
    .category-card
    {
        width: 92vw;
    }
}
