<div class="flex-column flex-horizontal-center">
  <h1>Welcome to day counter</h1>

  <div class="categories-container">
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
    <app-category></app-category>
  </div>
</div>